* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

#gridContainer {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto auto auto;
}

.gridItem {
    border: 2px dotted black;
    background-color: lightgray;
    padding: 10px;
}

.header {

    padding: 10px;
    height: 50px;
    text-align: center;
    grid-column: 1 / 4;
    grid-row: 1;
}

#hello {
    /*border: dotted black;*/
    display: flex;
    align-items: center;
    height: 160px;
    font-size: 80px;
    padding-left: 15px;
    grid-column: 1 / 4;
    grid-row: 2;
    margin-bottom: 60px;
}

.helloText {
    display: inline-block;
    text-align: Left;
    font-family: "Segoe UI";
    font-size: 250px;
    color: #D25708;
}

#sidePanel{
    grid-row: 3/6;
    grid-column: 3;
    width: 380px;
    height: 530px;
    padding-top: 12px;

    border: 5px groove white;
    border-color: white;
    border-radius: 6px;
}

h2{
    font-family: "Segoe UI";
    font-size: 50px;
    text-align: center;
    color: white;
}

ul{
    padding-top: 30px;
    padding-left: 40px;
}
li{
    font-size: 30px;
    margin-bottom: 20px;
      font-family: "Segoe UI Semibold";
    color: white;
}

/* unvisited link */
a:link {
    color: lightblue;
}

/* visited link */
a:visited {
    color: #BBADE6;
}

/* mouse over link */
a:hover {
    color: #ADBCE6;
}

/* selected link */
a:active {
    color: blue;
}

.ThisIsMe {
    display: flex;
    align-items: center;
    font-family: Calibri;
    height: 170px;
    font-size: 90px;
    padding-left: 15px;
    grid-column: 1;
    grid-row: 3;
    margin-bottom: 60px;
}

.thisIsMeText {

    font-family: "Segoe UI";
    font-size:100px;
    color: white;
    color: #D25708;
}



#potrait {
  /* border: dotted white;*/
    height: 100%;

}

#potraitImg {
 /*   border: dotted white;*/
    width: 14%;
    padding-right: 30px;
  /*  grid-column: 2;
    grid-row: 3 /6;*/

}

#arrow {
    height: 62%;
    grid-column: 2;
    grid-row: 3/5;

    padding-top: 40px;
   /*border: dotted green;*/
    display: flex;
    align-items: center;

}

#arrowImg {
    padding-left: 50px;
    padding-right: 50px;
    height: 100%;
    width: 50%;
    object-fit: fill;
}

#IStudy {
    grid-row: 4;
    grid-column: 1;
   /* border: dotted orange;*/
    margin-bottom: 60px;
    padding-left: 15px;
}

#IStudyText {
    color: #D25708;
    font-size: 85px;
    font-family: "Segoe UI";
}

#bottom {

    grid-column: 1;
    grid-row: 5;
 /*   border: dotted hotpink;*/

}

.bottomText {
    padding-left: 15px;
    font-size: 80px;
    color: #D25708;
    font-family: "Segoe UI";
}

.icons{
    width: 80px;
    height: 80px;
}

.background {
    background: rgb(8, 131, 210);
    background: linear-gradient(90deg, rgba(8, 131, 210, 1) 0%, rgba(9, 71, 121, 1) 69%);
}

#footer{
    font-size: 8px;
    color: blue;
    grid-row: 6;
}