* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#gridContainer {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto auto auto;
}

.gridItem {
    border: 2px dotted black;
    background-color: lightgray;
    padding: 10px;
}

.header {

    padding: 25px;
    height: 75px;
    text-align: center;
    grid-column: 1 / 4;
    grid-row: 1;
}

#hello {
    border: dotted black;
    display: flex;
    align-items: center;
    height: 160px;
    font-size: 80px;
    padding-left: 15px;
    grid-column: 1 / 4;
    grid-row: 2;
}

.helloText {
    display: inline-block;
    text-align: Left;
    font-family: Calibri;
    font-size: 120px;
    color: blue;
}

#sidePanel{
    grid-row: 3;
    grid-column: 2/5;
    border:  purple;
    height: 200px;
}

.ThisIsMe {
    display: flex;
    align-items: center;
    font-family: Calibri;
    height: 200px;
    font-size: 90px;
    padding-left: 15px;
    grid-column: 1;
    grid-row: 3;
   border: dotted pink;

}

.thisIsMeText {

    font-family: Calibri;
    font-size:120px;
    color: white;
}


#potrait {
   border: dotted white;
    height: 100%;

}

#potraitImg {
    border: dotted white;
    width: 13%;

  /*  grid-column: 2;
    grid-row: 3 /6;*/

}

#arrow {
    height: 62%;
    grid-column: 2;
    grid-row: 3/5;

    padding-top: 40px;
   border: dotted green;
    display: flex;
    align-items: center;

}

#arrowImg {
    padding-left: 50px;
    padding-right: 50px;
    height: 100%;
    width: 50%;
    object-fit: fill;
}

#IStudy {
    grid-row: 4;
    grid-column: 1;
    border: dotted orange;

}

#IStudyText {

    font-size: 95px;
}

#bottom {

    grid-column: 1/2;
    grid-row: 6;
    border: dotted hotpink;

}

.bottomText {
    font-size: 80px;

}

.icons{
    width: 80px;
    height: 80px;
}

.background {
    background: rgb(8, 131, 210);
    background: linear-gradient(90deg, rgba(8, 131, 210, 1) 0%, rgba(9, 71, 121, 1) 69%);
}